container_commands:
  01_migrate:
    command: "source /opt/python/run/krsenv/bin/activate && django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command:"source /opt/python/run/krenv/bin/activate && echo\"from user.models import User;User.objects.create_superuser('email', 'user_name', 'first_name', 'last_name', 'password')\" | python manage.py create_superuser"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: kart.settings
