container_commands:
  01_migrate:
    command: "source /opt/python/run/krenv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/krenv/bin/activate && python manage.py create_superuser"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: kart.settings
